<img *ngIf="image && loaded === null" [src]="image.src">
<div *ngIf="loaded === null || loaded === true">
  <button (click)="onUpload(5)" mat-raised-button color="warn"><mat-icon>color_lens</mat-icon> Match with color</button>
  <button (click)="onUpload(2)" mat-raised-button color="warn" disabled><mat-icon>local_cafe</mat-icon> Match with Café caps</button>
  <button (click)="onUpload(1)" mat-raised-button color="warn" disabled><mat-icon>weekend</mat-icon> Match with beer caps</button>
  <button (click)="onUpload(3)" mat-raised-button color="warn" disabled><mat-icon>business</mat-icon> Match with Lego</button>
</div>

<mat-spinner *ngIf="loaded === false"></mat-spinner>

<app-pattern *ngIf="loaded" [items]="items" [pattern]="pattern"></app-pattern>

<app-items *ngIf="loaded" [items]="items"></app-items>
