<footer>
  <div class="footer-container">
    <a href="https://github.com/vivienblum" target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/vivien-blum-944556b0/" target="_blank">Linkedin</a>
    <a href="https://www.youtube.com/channel/UCpK7GJCqeelL29fLWzCoQNg" target="_blank">YouTube</a>
    <a href="https://www.linkedin.com/in/vivien-blum-944556b0/detail/treasury/summary/?entityUrn=urn%3Ali%3Afs_treasuryMedia%3A(ACoAABeS_sQBIj8lYAwXbGz2KdfuoloV-OoYFxY%2C1545921946828)&section=summary&treasuryCount=1&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3BGSeoJ69ERGutPukRqxnoig%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_profile_view_base-treasury_thumbnail_cell" target="_blank">Resume</a>
  </div>
</footer>
