.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.collection-header {
  width: 80vw;
}

.action-button {
  width: 80vw;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
}

.action-button button {
  width: 100%;
}

.action-button .action-text {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
