<a class="link" [routerLink]="['/admin']">
  <button mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
</a>
<div class="centered-content">
  <mat-toolbar *ngIf="!edit && (collection | async) as collection" class="collection-header">
    <span>{{collection.name}}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="handleEditChange()" class="example-icon">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="handleDelete()" class="example-icon">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-toolbar>
  <form *ngIf="edit" [formGroup]="collectionForm" (ngSubmit)="editCollection()">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>
    <mat-checkbox formControlName="available">Available</mat-checkbox>
    <mat-checkbox formControlName="has_popularity">Has Popularity</mat-checkbox>
    <mat-form-field>
      <input matInput formControlName="delta" placeholder="Delta" type="number">
    </mat-form-field>
    <button mat-button [disabled]="collectionForm.invalid" type="submit">Edit</button>
  </form>

  <mat-spinner *ngIf="loading && loadingProgress === null"></mat-spinner>
  <mat-spinner *ngIf="loading && loadingProgress" mode="determinate" [value]="loadingProgress"></mat-spinner>

  <div class="action-button">
    <button mat-raised-button *ngIf="!add && !addMany && !loading" (click)="handleAddChange()">
      <mat-icon>add</mat-icon><span class="action-text"> Add an item</span>
    </button>

    <button mat-raised-button *ngIf="!add && !addMany && !loading" (click)="handleAddManyChange()">
      <mat-icon>playlist_add</mat-icon><span class="action-text"> Add many items</span>
    </button>
  </div>

  <app-item-creation *ngIf="add" (handleCreateItem)="addItem($event)"></app-item-creation>

  <app-items-creation *ngIf="addMany" (handleCreateItems)="addManyItems($event)"></app-items-creation>

  <ul class="items-list">
    <li *ngFor="let item of items | async">
      <app-item [item]="item"></app-item>
    </li>
  </ul>
</div>
