.items-row-cell > img {
    height: 100%;
    width: 100%;
}

.items-row {
    display: flex;
}

.image-focused {
    background-color: #69f0ae;
}

.image-not-focused {
    filter: brightness(25%);
}
