<div *ngIf="hasImage()" class="centered-content">
    <h2>Choose your pixelization ...</h2>
    <form class="pixelate__form" [formGroup]="amountForm">
        <input
            type="range"
            id="amount"
            class="pixelate__form__input"
            formControlName="amount"
            [min]="pixelMin"
            max="0"
            step="0.005"
            (change)="onUpdate()"
        >
    </form>

    <app-canvas-pixelate
        [image]="image"
        [amount]="amount"
        (handleImageChange)="onImageChange($event)"
    ></app-canvas-pixelate>
</div>

<div *ngIf="!hasImage()">
    <h2>No image ...</h2>
    <p>Go to Upload and choose your picture!</p>
</div>
