<div style="display:flex; flex-direction: column; align-items: center;">
  <mat-button-toggle-group appearance="legacy" name="pattern" aria-label="Pattern" #group="matButtonToggleGroup" value="images">
    <mat-button-toggle value="images">Images</mat-button-toggle>
    <mat-button-toggle value="pattern">Pattern</mat-button-toggle>
  </mat-button-toggle-group>
  <app-canvas-pattern-images *ngIf="group.value === 'images'" [items]="items" [pattern]="pattern"></app-canvas-pattern-images>
  <app-canvas-pattern *ngIf="group.value === 'pattern'" [pattern]="pattern"></app-canvas-pattern>
</div>
