.collection-button {
    color: white;

    text-decoration-color: #424242;
    text-decoration: underline;
}

.collection-badge {
    font-size: 10px;
    background: #fafafa;
    border: solid 1px rgba(73, 84, 92, 0.2);
    border-radius: 4px;
    color: rgba(73, 84, 92, 0.5);
    margin-left: 8px;
    padding: 4px;
}
